# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local build outputs
docs/.vitepress/dist
docs/.vitepress/cache
.vitepress/dist
.vitepress/cache

# OS files
.DS_Store
Thumbs.db

# Github files
.github
.venv