@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Space+Mono:regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:regular,italic,700,700italic);

:root {
  --vp-c-brand-1: rgb(40,48,93); /* Default color for light mode */
  --vp-c-brand-3: rgb(40,48,93); /* Default color for light mode */
  /*--vp-font-family-base: 'Geologica', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; */

    --vp-font-family-base: "Space Grotesk", "Inter var experimental", "Inter var",
  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
  Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

/* Code Snippet font */

  --vp-font-family-mono: "Space Mono", Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
    line-height: 1.4;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
}

html.dark {
    color-scheme: dark;
    --vp-c-brand-1: rgb(236,225,211); /*Light color for dark mode */
    --vp-c-brand-1: rgb(255, 255, 255); 
    --vp-c-brand-3: rgb(40,48,93);
    background-color: var(--vp-nav-bg-color);
}

/* html.dark .curtain {
  background-color: var(--vp-nav-bg-color);
}

html .curtain{
  background-color: var(--vp-nav-bg-color) !important;
} */

/* .VPSidebar[data-v-6750ea26] {
  padding-left: none !important;
  width: calc((100% -(var(--vp-layout-max-width) - 64px)) / 2 + var(--vp-sidebar-width) - 32px);
}

@media (min-width: 1440px) {
  .VPSidebar[data-v-6750ea26] {
    padding-left: 0 !important;
  }
} */

.title[data-v-55e263fd] {
  font-size: 0.90em !important;
}
.title[data-v-1168a8e4] {
  font-size: 0.90em !important;
}

.title {
  font-size: 0.9em;
}

/* :root ::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

@media (min-width: 960px) {
  [data-v-72cc4481] .image-src {
      max-width: 210px !important;
      height: auto;
  }
}

/* .VPFooter {
  padding: 25px !important;
} */

/* 



*/

/* Search bar positioning */
.local-search {
  width: 200px;
  
  padding-right: 24px;
  margin-right: 24px;
}

.VPNavBarSearch {
  display: flex;
  border-right: 1px solid var(--vp-c-divider);
  padding-right: 15px;
  justify-content: flex-end;
  flex-grow: 1;
}




/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */
.scrollbar {
  overflow: overlay
}
/* total width */
.scrollbar::-webkit-scrollbar {
  background-color: rgba(0,0,0,0);
  width: 16px;
  height: 16px;
  z-index: 999999;
}
/* background of the scrollbar except button or resizer */
.scrollbar::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0);
}
/* scrollbar itself */
.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0);
  border-radius:16px;
  border:0px solid #fff;
}
/* set button(top and bottom of the scrollbar) */
.scrollbar::-webkit-scrollbar-button {
  display:none;
}
/* scrollbar when element is hovered */
.scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #a0a0a5;
  border:4px solid #fff;
}
/* scrollbar when scrollbar is hovered */
.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color:#a0a0a5;
    border:4px solid #f4f4f4
}

/* 



*/